body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
@media(min-width:760px) {
    .container-0 {
        display: flex;
        /*        притянуть к концу или началу по оси Y {start, end, center, stretch}*/
        /*        align-items:flex-start; */
        /*        элементы на вертикали а не горизонтали*/
        /*        flex-direction:column;*/
        justify-content: space-between;
    }
}
    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    #main-header {
        background-color: coral;
        color: #fff;
    }

    #navbar {
        background-color: #333;
        color: #fff;
    }

    #navbar ul {
        padding: 0;
        list-style: none;
    }

    #navbar li {
        display: inline;
    }

    #navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding-right: 15px;
    }

    #showcase {
        background-image: url('C:/Users/Admin/Desktop/вебпрог/html project/emages/showcase.jpg');
        background-position: center right;
        min-height: 300px;
        margin-bottom: 30px;
        text-align: center;
    }

        #showcase h1 {
            color: #000000;
            font-size: 50px;
            line-height: 1.6em;
            padding-top: 30px;
        }

    #main {
        float: left;
        width: 70%;
        padding: 0 30px;
        box-sizing: border-box;
    }

    #sizebar {
        float: right;
        width: 30%;
        background: #333;
        color: #fff;
        padding: 0 30px;
        box-sizing: border-box;
    }

    #main-footer {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }

    @media(max-width:600px) {
        #main {
            width: 100%;
            float: none;
        }

        #sidebar {
            width: 100%;
            float: none;
        }
    }

.box-1 {
    flex: 1;
    order: 1;
    border: 1px #ccc solid;
    padding: 10px;
}

.box-2 {
    flex: 17;
    order: 2;
    border: 1px #ccc solid;
    padding: 10px;
}

.box-3 {
    flex: 1;
    order: 3;
    border: 1px #ccc solid;
    padding: 10px;
}
